* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #e9e9e9;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 3.1px 6px;
  margin-top: 0px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

section {
  width: 70%;
  margin: 0 auto;
}
article {
  padding: 20px 0 20px 0;
  border-bottom: 1px dotted darkgrey;
}
article h2 {
  float: left;
  border-bottom: 2px solid cadetblue;
  padding-bottom: 5px;
  line-height: 1.3em;
  font-size: 1em;
  text-transform: uppercase;
}
article p {
  margin-left: 20%;
}
article p,
article ul {
  margin-left: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategrey;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}
article ul li {
  margin-left: 15px;
  list-style: square;
}
footer {
  margin-top: 2em;
  padding: 1em;
  width: 100%;
  background: darkslategrey;
  color: azure;
  text-align: center;
}
footer a:link,
footer a:visited {
  color: azure;
}
footer a:hover {
  text-decoration: underline;
  color: orange;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 281px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: right;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
form {
  background-color: #e9e9e9;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  border-color: black;
  display: flex;
  margin-top: 7px;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: black;
  height: 20%;
  width: 75%;
  border-style: groove;
  color: black;
  padding: 6px 6px;
}

::placeholder {
  color: black;
  opacity: 0.7;
}
